@media print {
    .hide-on-print {
        display: none !important;
    }

    .only-show-on-print {
        display: block !important;
    }

    .frame-container {
        height: auto !important;
    }

    .viewer-wrapper {
        display: block;
        overflow: auto;
    }

    .markdown-scrollbar {
        overflow-y: hidden !important;
    }

    .markdown-container {
        border: none !important;
    }

    .context-menu {
        display: none !important;
    }
}

.only-show-on-print {
    display: none;
}

.view-title {
    text-align: center;
    margin-left: auto;
    margin-right: 2rem;
}


