/**
* 公共的样式定义
*/

/**
 * top
 */
.top-5 {
    padding-top: 5px;
}

.top-6 {
    padding-top: 6px;
}

.top-7 {
    padding-top: 7px;
}

.top-8 {
    padding-top: 8px;
}

.top-9 {
    padding-top: 9px;
}

.top-10 {
    padding-top: 10px;
}

/**
 * 宽度
 */
.w-1 {
    width: 1px;
}

.w-2 {
    width: 2px;
}

.w-3 {
    width: 3px;
}

.w-4 {
    width: 4px;
}

.w-5 {
    width: 5px;
}

.w-6 {
    width: 6px;
}

.w-7 {
    width: 7px;
}

.w-8 {
    width: 8px;
}

.w-9 {
    width: 9px;
}

.align-center {
    text-align: center;
}

/*提供给消息等引用的样式*/
.auth {
    font-style: italic;
    font-size: 1.5rem;
    /*display: block;*/
}

.title {
    font-weight: bold;
    /*display: block;*/
}

.i {
    font-style: italic;
}

.f-10 {
    font-size: 1rem;
}

.f-11 {
    font-size: 1.1rem;
}

.f-12 {
    font-size: 1.2rem;
}

.f-13 {
    font-size: 1.3rem;
}

.f-14 {
    font-size: 1.4rem;
}

.f-15 {
    font-size: 1.5rem;
}

.f-16 {
    font-size: 1.6rem;
}

.f-17 {
    font-size: 1.7rem;
}

.f-18 {
    font-size: 1.8rem;
}

.f-19 {
    font-size: 1.9rem;
}

.f-20 {
    font-size: 2rem;
}

.f-21 {
    font-size: 2.1rem;
}

.f-22 {
    font-size: 2.2rem;
}

.f-23 {
    font-size: 2.3rem;
}

.f-24 {
    font-size: 2.4rem;
}

.f-25 {
    font-size: 2.5rem;
}

.f-26 {
    font-size: 2.6rem;
}

.btn-ssm {
    padding: 0px 1px 0px 1px;
    font-size: 0.5rem;
    border-radius: 0.2rem;
}