/**
* 公共的样式定义
*/
/*###################################*/
/**
 * padding
 */
.p-1px {
    padding: 1px;
}

.p-2px {
    padding: 2px;
}

.p-3px {
    padding: 3px;
}

.p-4px {
    padding: 4px;
}

.p-5px {
    padding: 5px;
}

.p-6px {
    padding: 6px;
}

/*###################################*/
/**
 * top
 */
.pt-1px {
    padding-top: 1px;
}

.pt-2px {
    padding-top: 2px;
}

.pt-3px {
    padding-top: 3px;
}

.pt-4px {
    padding-top: 4px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-6px {
    padding-top: 6px;
}

/*###################################*/
/**
 * bottom
 */
.pb-1px {
    padding-bottom: 1px;
}

.pb-2px {
    padding-bottom: 2px;
}

.pb-3px {
    padding-bottom: 3px;
}

.pb-4px {
    padding-bottom: 4px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-6px {
    padding-bottom: 6px;
}

/*###################################*/
/**
 * 宽度
 */
.w-1px {
    width: 1px;
}

.w-2px {
    width: 2px;
}

.w-3px {
    width: 3px;
}

.w-4px {
    width: 4px;
}

.w-5px {
    width: 5px;
}

.w-6px {
    width: 6px;
}

.w-7px {
    width: 7px;
}

.w-8px {
    width: 8px;
}

.w-9px {
    width: 9px;
}

/*###################################*/
.align-center {
    text-align: center;
}

/*提供给消息等引用的样式*/
.auth {
    font-style: italic;
    font-size: 1.5rem;
    /*display: block;*/
}

.title {
    font-weight: bold;
    /*display: block;*/
}

.i {
    font-style: italic;
}

/*###################################*/
/*字体大小样式*/
.f-10 {
    font-size: 1rem;
}

.f-11 {
    font-size: 1.1rem;
}

.f-12 {
    font-size: 1.2rem;
}

.f-13 {
    font-size: 1.3rem;
}

.f-14 {
    font-size: 1.4rem;
}

.f-15 {
    font-size: 1.5rem;
}

.f-16 {
    font-size: 1.6rem;
}

.f-17 {
    font-size: 1.7rem;
}

.f-18 {
    font-size: 1.8rem;
}

.f-19 {
    font-size: 1.9rem;
}

.f-20 {
    font-size: 2rem;
}

.f-21 {
    font-size: 2.1rem;
}

.f-22 {
    font-size: 2.2rem;
}

.f-23 {
    font-size: 2.3rem;
}

.f-24 {
    font-size: 2.4rem;
}

.f-25 {
    font-size: 2.5rem;
}

.f-26 {
    font-size: 2.6rem;
}

/*###################################*/
/*更小尺寸的按钮*/
.btn-p-sm {
    padding: 0.25rem 0.5rem;
}

.btn-xs {
    padding: 0.15rem 0.4rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.btn-p-xs {
    padding: 0.15rem 0.4rem;
}

.btn-xxs {
    padding: 0.05rem 0.3rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
}

.btn-p-xxs {
    padding: 0.05rem 0.3rem;
}

.btn-xxxs {
    padding: 0px 1px 0px 1px;
    font-size: 0.55rem;
    border-radius: 0.2rem;
}

.btn-p-xxxs {
    padding: 0px 1px 0px 1px;
}

/*###################################*/
/*自定义的按钮样式*/
.btn-control {
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 1px;
    user-select: none;
}

.btn-control:hover {
    /*color: #000;*/
    background-color: #d8d8d8;
    /*border-color: #d5d5d5;*/
}

.btn-control:active {
    /*color: blue;*/
    background-color: #cdcdcd;
    /*border-color: #bababa;*/

    border-color: #bababa;
    box-shadow: 0 0 1px 1px rgba(130, 138, 145, 0.5);
}

.btn-control[data-select="true"] {
    color: blue;
    /*background-color: #d8d8d8;*/
    /*border-color: #bababa;*/
    /*box-shadow: 0 0 1px 1px rgba(130, 138, 145, 0.5);*/
}

.btn-control:focus {
    /*color: #000;*/
    background-color: #e0dfdf;
    /*border-color: #bababa;*/
    box-shadow: 0 0 0px 0px rgba(130, 138, 145, 0.5);
}

/*###################################*/
/*字母按钮样式*/
.letter-icon {
    font-family: monospace;
    border: 1px solid #6c757d;
    padding: 2px 6px;
    border-radius: 5px;

}

/*###################################*/
/*默认动画效果*/
.ts {
    transition: transform 0.3s ease-in-out;
}

/*旋转角度*/
.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

/*###################################*/
/*根据属性展示指定的子类*/
/**
 * 父元素设置该样式，然后设置 data-display-child='1' 属性
 * 数字表示要展示第几个子元素
 * 其他子元素会被设置为不显示
 */
.switch-child {

}

.switch-child > * {
    display: none;
}

.switch-child[data-display-child="1"] > *:nth-child(1) {
    display: unset;
}

.switch-child[data-display-child="2"] > *:nth-child(2) {
    display: unset;
}

.switch-child[data-display-child="3"] > *:nth-child(3) {
    display: unset;
}

.switch-child[data-display-child="4"] > *:nth-child(4) {
    display: unset;
}

.switch-child[data-display-child="5"] > *:nth-child(5) {
    display: unset;
}

.switch-child[data-display-child="6"] > *:nth-child(6) {
    display: unset;
}

/*###################################*/
/*########   最大最小宽度控制   ########*/
/*###################################*/
/*最小宽度*/
.min-w-1rem {
    min-width: 1rem;
}

.min-w-2rem {
    min-width: 2rem;
}

.min-w-3rem {
    min-width: 3rem;
}

.min-w-4rem {
    min-width: 4rem;
}

.min-w-5rem {
    min-width: 5rem;
}

/*最大宽度*/
.max-w-300px {
    max-width: 300px;
}

.max-w-400px {
    max-width: 400px;
}

.max-w-500px {
    max-width: 500px;
}

.max-w-600px {
    max-width: 600px;
}

/*###################################*/

/*tooltips样式*/
.note-title-tooltips {

}

/*增加最大宽度*/
.note-title-tooltips .tooltip-inner {
    max-width: 300px;
}

/*###################################*/
/*清空after*/
.afterNone {

}

.afterNone::after {
    display: none !important;
}

/*清空before*/
.beforeNone {

}

.beforeNone::before {
    display: none !important;
}

/*###################################*/