/*############# 主体样式 #############*/


.note-container {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.note-control {
    width: 32px;
    background-color: #F6F6F6;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.note-list {
    width: 280px;
    background-color: #F6F6F6;
    /*padding: 0px 2px 2px 2px;*/
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
}

.note-divider {
    width: 5px;
    cursor: col-resize;
    background-color: #ddd;
    user-select: none;

}

.note-content {
    flex-grow: 1;
    background-color: #ffffff;
    /*padding: 10px;*/
    /*overflow: auto;*/
}

.note-extends {

}

/*############# 控制按钮 #############*/
.note-control button {
    margin: 2px 2px 6px 2px;
}

/*############# 菜单切换 #############*/
.menu-switch {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.menu-switch > button {
    margin: 1px;
    padding: 2px 5px;
}

/*############# 文件列表 #############*/
.tab-file-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.file-list-ctrl {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.file-list-ctrl > button {
    padding: 2px 4px;
}

/*############# 菜单树 #############*/
.tree {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;

    /*border: 1px solid;*/
    /*border-radius: 0.2rem;*/
}

/*滚动条*/
.tree::-webkit-scrollbar {
    width: 6px;;
}

.tree::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 2px;
    /*background-color: red;*/
}

/*其他ul*/
.tree ul {
    list-style: none;
    margin-left: 0.5rem;
    padding-left: 0.35rem;
    /*border-left: 1px solid transparent;*/
    border-left: 1px solid #eae9e9;
    overflow: hidden;
    transition: all 0.5s ease;
}

/*树下的第一个ul*/
.tree > ul {
    border-left: 0px solid transparent;
    margin-left: 1px;
    padding-left: 1px;
}

/**
 * 隐藏下级
 */
.tree li > label.closed + ul {
    display: none;
    /*height: 0px;*/
}

.tree li {
    user-select: none;
    display: flex;
    flex-direction: column;
}

.tree li > label {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-left: 0.25rem;
    border-radius: 0.25rem;
    /*transition: all 0.5s;*/

    display: flex;
    align-items: center;

}

.tree li > label:hover {
    background-color: #ececec;
}

/*label选中样式*/
.tree li > label[data-select="true"] {
    background-color: #cdcdcd;
    /*border-left: #0000ff36 1px solid;*/
}

/*选中的下级ul出现一个竖线*/
.tree li > label[data-select="true"] + ul {
    border-left: 1px solid #d5d5d5;
}


/*图标默认样式*/
.tree li > label::before,
.tree li > label::after {
    /*bootstrap-icons*/
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.tree li > label::before {
    content: "\F373";
    color: #29292d;

    padding-right: 2px;
    transition: all 0.5s ease;

}

/*文件夹样式*/
.tree li > label[data-type="DIR"] {
    padding-left: 0.14rem;
}

/*文件夹收起样式*/
.tree li > label[data-type="DIR"].closed::before {
    /*content: url("../bootstrap/icons/folder.svg");*/
    /*content: "\f3d9";*/
    /*color: black;*/
    transform: rotate(-90deg);
}

/*打开的文件夹*/
.tree li > label[data-type="DIR"]::before {
    font-size: small;

    content: "\F282"; /*向下的箭头*/
    transform: rotate(0deg);

    /*content: "\F22C";*/
    /*color: orange;*/
}

/*下面是各个文件类型的图标*/

.tree li > label[data-type="md"]::before {
    content: "\F750";
}

.tree li > label[data-type="java"]::before {
    content: "\F74A";
}

.tree li > label[data-type="json"]::before {
    content: "\F791";
}

.tree li > label[data-type="txt"]::before {
    content: "\F766";
}

.tree li > label[data-type="pdf"]::before {
    content: "\F756";
}

/*#### 标题后面的图标 ####*/
.tree li > label::after {
    margin-left: auto;
}

/*加星号的*/
.tree li > label[data-asterisk="true"]::after {
    content: "\F586";
    color: #ffaa00;
    margin-left: auto;
}


/*收藏的*/
.tree li > label[data-favorite="true"]::after {
    content: "\F19B";
    color: #dc3545;

}

.tree li > label[data-favorite="true"][data-asterisk="true"]::after {
    content: "\F19B \F586";
    color: #dc3545;
}

/*############# markdown #############*/

.dark {
    color-scheme: dark;
}

.light {
    color-scheme: light;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*justify-content: flex-start;*/
    /*align-items: stretch;*/

}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.page ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.page ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(224, 224, 224, 0.61);
}

/*标题*/
.note-title {
    padding-left: 10px;
    padding-right: 10px;
}

.note-title h1 {
    font-size: 22px;
    /*font-family: cursive;*/
    margin-top: 8px;
    margin-bottom: 8px;
}

/*工具栏*/
.toolbar {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 2px;

}

/*文本编辑器*/
.editor-wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    /*padding-top: 65px;*/

    padding: 0px 10px 10px 10px;

    box-sizing: border-box;
    overflow: hidden;
}

/*文本编辑部分*/
.editor-textarea {
    /*flex-grow: 0.8;*/

    resize: none;
    font-family: Consolas, Courier;
    font-size: 14px;
    /*height: 97%;*/
    /*max-height: 97%;*/
    width: 100%;
    /*overflow-y: scroll;*/
    /*background: #f6f8fa;*/
    padding: 10px;

    box-sizing: border-box;

}

.editor-divider {
    width: 10px;
    background: #eee;
    cursor: pointer;
}

.editor-divider:hover {
    background: #8b949e;
}

/*markdown渲染部分*/
.editor-preview {
    /*flex-grow: 1;*/

    /*height: 97%;*/
    /*max-height: 97%;*/
    /*height: calc(100% - 65px);*/
    border: 1px solid #eee;
    overflow-y: scroll;
    width: 100%;
    padding: 10px;
    /*display: block;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*max-height: 100%;*/

    box-sizing: border-box;

    display: flex;
    justify-content: center;
}


.markdown_content {
    width: 980px;
    /*max-width: 980px;*/
}