<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwh.home.center.dao.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wwh.home.center.model.entity.UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="disabled" property="disabled"/>
        <result column="locked" property="locked"/>
        <result column="expired" property="expired"/>
        <result column="expiration_time" property="expirationTime"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, salt, nickname, gender, avatar, phone, email, disabled, locked, expired, expiration_time, deleted, create_by, create_time, update_by, update_time
    </sql>

    <select id="findUserPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        <where>
            <if test="query.gender != null">
                AND gender = #{query.gender,jdbcType=TINYINT}
            </if>
            <if test="query.username != null and query.username != ''">
                AND username LIKE CONCAT('%',#{query.username,jdbcType=VARCHAR},'%')
            </if>
            <if test="query.locked != null">
                AND locked = #{query.locked,jdbcType=BIT}
            </if>
            <if test="query.createBy != null">
                AND create_by = #{query.createBy,jdbcType=BIGINT}
            </if>
            AND deleted = 0
        </where>
        ORDER BY id DESC
    </select>

    <select id="listUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        WHERE id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="unionAllTest" resultMap="BaseResultMap">
  	SELECT * FROM user_info
		UNION ALL
	SELECT * FROM user_info
  </select>

</mapper>
